.card-img,
.card-img-bottom,
.card-img-top {
    width: 150px;
    align-self: center;
    margin: 10px;
    border-radius: 5px;
}

.navegacion {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ac1d30;
    border: 2px black solid;
    padding-left: 6rem;
    letter-spacing: 0.1rem;
}

.titulo {
    font-family: "Dancing Script";
    font-size: 4.5rem;
    color: aliceblue;
    text-shadow: 3px 3px 5px black;
    margin-right: 8rem;
}

.imagen {
    display: flex;
    align-items: center;
    height: 4rem;
    order: -1;
    margin-right: 3rem;
}

.texto-tipo {}

.texto-nombre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

.texto-precio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.texto-descripcion {
    font-family: 'Gentium Book Basic';
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;

}

.body .productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div h1 {
    text-align: center;
    margin: 15px;
}

.card-img {
    width: 33%;
}

.card {
    width: 20%;
    margin: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}


.agregar {
    align-self: center;
}

.card-sody {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.producto-detalles-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonera {
    display: flex;
    flex-direction: row;
}

.detail-img {
    width: 50%;
}

.detail {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}